{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["es2015-node4"]
    }
  },
  "plugins": [
    "external-helpers"
  ]
}
